<p>【ft_transcendence アカウント認証について】</p>
<br>
<p>お客様は現在、仮登録を行なった段階でございます。</p>
<p>本登録を行うにあたり、下記のURLをクリックし、認証を行なってください。</p>
<br>
<p>下記URLは、お客様固有の認証URLになります。</p>
<p>{{ time }}以内にクリックして、メールアドレスの認証を完了させてください。</p>
<p>※{{ time }}を過ぎた場合には無効になりますのでご注意ください。</p>
<br>
<p>認証URL</p>
<p><a href ="{{ url }}"></a>{{ url }}</p>
<br>
<p>Copyright©2023 ft_transcendence. All Rights Reserved.</p>
<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>