<p>【ft_transcendence 2要素認証】</p>
<br>
<p>下記のURLをクリックし、認証を行なってください。</p>
<br>
<p>下記URLは、お客様固有の認証URLになります。</p>
<p>{{ time }}以内にクリックして、認証を行ってください。</p>
<p>※{{ time }}を過ぎた場合には無効になりますのでご注意ください。</p>
<br>
<p>認証URL</p>
<p><a href ="{{ url }}"></a>{{ url }}</p>
<br>
<p>Copyright©2023 ft_transcendence. All Rights Reserved.</p>
<p>━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</p>